<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arnes.respati.mywallet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mywallet_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--android:roundIcon="@mipmap/ic_launcher_round"-->

        <activity android:name=".MainActivityClasses.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddIncomeActivityClasses.AddIncomeActivity" />
        <activity android:name=".AddExpenditureActivityClasses.AddExpenditureActivity" />
        <activity
            android:name=".OnBoardingClasses.OnBoardingActivity"
            android:label="@string/title_activity_on_boarding"
            android:theme="@style/AppTheme"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>